{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <style>
        ul#note-list li {
            display: inline;
            list-style-type: circle;
        }

        .note-detail-link {
            color: #000000;
        }
        .note-detail-link:hover {
            text-decoration: none;
            color: #000000;
        }
        ul#note-list {
            padding: 0;
            margin: 0;
        }


    </style>
</head>
Archive
<form style="float: right"><font size=2>
    {{filter.form}}
</font>
</form>

<ul id="note-list">
    <hr>
    {% for note in filter.qs %}
    <div class="row justify-content-left">
        <div class="col-6">
            <a href="{% url 'note_detail' pk=note.id %}" class="note-detail-link">
                <div class="card">
                    <div class="card-body">
                        {{note.title}}
                        <br></font>
                        <li>Created by: <font color="green">{{note.created_by}}</font> <span class="greyOut">|</span></li>
                        <li> Archived</li>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock %}