{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!<br>
<h5>You have {{notes|length}} note</h5>
<ul>
    {% for note in notes %}
    <h2>
    <a href="{% url 'note_detail' pk=note.id %}">{{note.title}}</a>
    </h2>
    
    <li>Created by: {{note.created_by}}</li>
    <li>Deadline: {{note.deadline|date:'Y-m-d' }}</li>
        {% if note.created_by == user %}
            <a href="{% url 'mark_as_done' pk=note.id %}" class="btn btn-primary">Done</a>

        {% endif %}
        {% endfor %}
</ul>
{% else %}
<p>The home container when not logged in</p>
{% endif %}
{% endblock %}