{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <style>
        ul#note-list li {
            display: inline;
        }

        .note-detail-link {
            color: #5c8266;
        }
        .note-detail-link:hover {
            text-decoration: none;
            color: #5c8266;
            }
    </style>
</head>
{% if user.is_authenticated %}
Hi {{ user.username }}!
<form style="float: right"><font size=2>
    {{filter.form}}
    </font>
</form>
    <ul id="note-list">
        {% for note in filter.qs %}
       <hr>
        <font size=4><a href="{% url 'note_detail' pk=note.id %}" class="note-detail-link">{{note.title}}</a></font><br>
                <li>Created by: {{note.created_by}} | </li>
                <li>  Deadline: {{note.deadline|date:'Y-m-d H:i' }}</li>
                    {% if note.created_by == user %}
        <div style="float: right">
        <li><a href="{% url 'mark_as' pk=note.id done=1 %}" class="btn btn-outline-secondary btn-sm">
            archive</a></li>&nbsp;
        <li><a href="{% url 'note_edit' pk=note.id %}" class="btn btn-outline-secondary btn-sm">
            edit</a></li></div>
        {% endif %}

        {% endfor %}
    </ul>

{% else %}
<p>Do you want to improve your <font color="green">work experience</font>? <br>
    Do you want to take it to <font color="green">the next level</font>? <br>
    Do you want your company to <font color="green">grow and prosper</font>? <br>
    <a href="{% url 'signup' %}"><font color="green">Join us!</font></a>


</p>
{% endif %}
{% endblock %}