{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<h1>{{note.title}}</h1>
<p>Created on: {{note.add_date|date:'Y-m-d' }}</p>
<p>Created by: {{note.created_by}}</p>
<p>Deadline: {{note.deadline|date:'Y-m-d' }}</p>
<p>Note: {{note.note}}</p>
<p>Note status: {{ note.is_done|yesno:"Is done, Is open" }}</p>
<p>Users added to note:
      <td>{% for user_id in note.id_users.all %}
             {{ user_id.username }}{% if forloop.last %}.{% else %}, {% endif %}
          {% endfor %}</td>
</p>
    {% for comment in note.comments.all %}
<br>
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet.</p>
    {% endfor %}
<h1>New comment</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% else %}
<p>The home container when not logged in</p>
{% endif %}
{% endblock %}
