<style>
        .asteriskField {
            display: none;
        }
        form .alert {
            font-size: 12px;
        }
        form .alert ul li {
            list-style: none;
        }

        form .alert ul {
            padding: 0;
            margin: 0;
        }
        #awatar{
            border-radius: 8px;
        }

        html * {
            font-family: font-family: 'Open Sans', sans-serif;
            font-size: 15px;
        }

         .priority span {
            color: #5f9e21;
        }

        .deadlineNow,
        .priority span.high {
            color: #d33;
        }

         .deadlineSoon,
         .priority span.medium {
            color: #bf710f;
            }

        .deadlineOk,
        .priority span.low {
            color: #9a9e21;
        }

    .card {
        margin-bottom: 20px;
    }
    .card:hover {
        background-color: #f8f8f8;
    }

    .title {
        color: #333;
        font-weight: bold;
    }

    .btn.small {
        padding: 2px 6px;
        font-size: 13px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .smalltext {
        font-size: 12px;
        color: #777;
        display: flex;
        justify-content: space-between;
    }

    .priority span.getOut,
    .greyOut {
        color: #aaa !important;
        padding: 0 6px;
    }

    .entry {
        font-size: 15px;
        color: #777;
        text-align: left;
        margin: 0px 550px 0px 0px;
        text-align: justify;
  text-justify: inter-word;

    }
</style>